@font-face {
    font-family: 'Graphik';
    src: url("assets/fonts/Graphik-ThinItalic-Web.woff") format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url("assets/fonts/Graphik-Thin-Web.woff") format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url("assets/fonts/Graphik-RegularItalic-Web.woff") format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url("assets/fonts/Graphik-Regular-Web.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url("assets/fonts/Graphik-MediumItalic-Web.woff") format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url("assets/fonts/Graphik-Medium-Web.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent }
article, aside, figure, footer, header, nav, section, details, summary { display: block }
img, object, embed { max-width: 100%; height: auto; }
html { overflow-y: scroll }
h1, h2, h3, h4, h5, h6 { font-weight: normal }
ul { list-style: none }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
a { display: inline-block; margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; transition: color 0.1s linear, background 0.1s linear; text-decoration: none; }
a > img { display: block;}
del { text-decoration: line-through }
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help }
table { border-collapse: collapse; border-spacing: 0 }
/* tables still need cellspacing="0" in the markup */
th { font-weight: bold; vertical-align: bottom }
td { font-weight: normal; vertical-align: top }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #fff; margin: 30px 0; padding: 0 }
input, select { vertical-align: middle }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word }
input[type="radio"] { vertical-align: text-bottom }
input[type="checkbox"] { vertical-align: bottom }
select, input, textarea { font: 99% sans-serif }
select:-moz-focusring { outline: none; text-shadow: 0 0 0 #000; }
table { font-size: inherit; font: 100% Arial, sans-serif; }
small { font-size: 85% }
strong { font-weight: bold }
sub, sup { font-size: 75%; line-height: 0; position: relative }
sup { top: -0.5em }
sub { bottom: -0.25em }
pre, code, kbd, samp { font-family: monospace, sans-serif }
.clickable, label, input[type=button], input[type=submit], input[type=file], button { cursor: pointer }
button, input, select, textarea { margin: 0; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }
button { border: none; width: auto; overflow: visible; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: none; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden }
.clearfix:after { clear: both }
.clearfix { zoom: 1 }
*:focus{ outline: 0; }
textarea { outline: 0; resize: none; overflow: auto; }
input, textarea { border-radius: 0; }
body { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; -webkit-text-size-adjust:100%; -ms-text-size-adjust: none; }
input::-moz-placeholder, textarea::-moz-placeholder { opacity: 1 !important; }
svg { display: block; }
@-moz-document url-prefix() {
    select { text-indent: -2px; }
    select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
}
button::-moz-focus-inner {
    border:0;
    padding:0;
}

/* TRANSITIONS */
#header .main-nav a:after { -webkit-transition: left 0.2s ease, right 0.2s ease; -moz-transition: left 0.2s ease, right 0.2s ease; -ms-transition: left 0.2s ease, right 0.2s ease; -o-transition: left 0.2s ease, right 0.2s ease; transition: left 0.2s ease, right 0.2s ease; }
.btn.btn-block span:before { -webkit-transition: -webkit-transform 0.3s ease; -moz-transition: -moz-transform 0.3s ease; -ms-transition: -ms-transform 0.3s ease; -o-transition: -o-transform 0.3s ease; transition: transform 0.3s ease; }
.post .border:before { -webkit-transition: left 0.8s linear; -moz-transition: left 0.8s linear; -ms-transition: left 0.8s linear; -o-transition: left 0.8s linear; transition: left 0.8s linear; }
.btn, #main-banner .banner-content a:not(.btn) { -webkit-transition: color 0.3s ease; -moz-transition: color 0.3s ease; -ms-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease;}
.btn.btn-plain svg *, #main-banner .banner-content a:not(.btn) svg *, .paginate .view-more svg * { -webkit-transition: stroke 0.3s ease; -moz-transition: stroke 0.3s ease; -ms-transition: stroke 0.3s ease; -o-transition: stroke 0.3s ease; transition: stroke 0.3s ease; }
.btn.btn-plain svg, #main-banner .banner-content a:not(.btn) svg, .paginate .view-more svg { -webkit-transition: left 0.3s ease, right 0.3s ease, top 0.3s ease; -moz-transition: left 0.3s ease, right 0.3s ease, top 0.3s ease; -ms-transition: left 0.3s ease, right 0.3s ease, top 0.3s ease; -o-transition: left 0.3s ease, right 0.3s ease, top 0.3s ease; transition: left 0.3s ease, right 0.3s ease, top 0.3s ease;}
#info-slider .slide-dot:after { -webkit-transition: width 0.3s ease, height 0.3s ease; -moz-transition: width 0.3s ease, height 0.3s ease; -ms-transition: width 0.3s ease, height 0.3s ease; -o-transition: width 0.3s ease, height 0.3s ease; transition: width 0.3s ease, height 0.3s ease; }
#info-slider .info-slide * { -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s linear; -moz-transition: -moz-transform 0.5s ease, opacity 0.5s linear; -ms-transition: -ms-transform 0.5s ease, opacity 0.5s linear; -o-transition: -o-transform 0.5s ease, opacity 0.5s linear; transition: transform 0.5s ease, opacity 0.5s linear; }
#challenge-us .close span { -webkit-transition: opacity 0.2s ease; -moz-transition: opacity 0.2s ease; -ms-transition: opacity 0.2s ease; -o-transition: opacity 0.2s ease; transition: opacity 0.2s ease; }
#challenge-us { -webkit-transition: opacity 0.3s ease, z-index 0s linear 0.3s; -moz-transition: opacity 0.3s ease, z-index 0s linear 0.3s; -ms-transition: opacity 0.3s ease, z-index 0s linear 0.3s; -o-transition: opacity 0.3s ease, z-index 0s linear 0.3s; transition: opacity 0.3s ease, z-index 0s linear 0.3s; }
#challenge-us.open { -webkit-transition: opacity 0.3s ease, z-index 0s linear 0s; -moz-transition: opacity 0.3s ease, z-index 0s linear 0s; -ms-transition: opacity 0.3s ease, z-index 0s linear 0s; -o-transition: opacity 0.3s ease, z-index 0s linear 0s; transition: opacity 0.3s ease, z-index 0s linear 0s; }
#news .post:before { -webkit-transition: border 0.2s ease; -moz-transition: border 0.2s ease; -ms-transition: border 0.2s ease; -o-transition: border 0.2s ease; transition: border 0.2s ease;}
.social li a { -webkit-transition: background 0.2s ease; -moz-transition: background 0.2s ease; -ms-transition: background 0.2s ease; -o-transition: background 0.2s ease; transition: background 0.2s ease;}
.social li a svg * { -webkit-transition: fill 0.2s ease; -moz-transition: fill 0.2s ease; -ms-transition: fill 0.2s ease; -o-transition: fill 0.2s ease; transition: fill 0.2s ease;}
#header .main-nav ul > li > ul > li { -webkit-transition: max-height 0.2s ease, opacity 0.2s ease; -moz-transition: max-height 0.2s ease, opacity 0.2s ease; -ms-transition: max-height 0.2s ease, opacity 0.2s ease; -o-transition: max-height 0.2s ease, opacity 0.2s ease; transition: max-height 0.2s ease, opacity 0.2s ease; }
#mm-blocker { -webkit-transition: opacity 0.4s ease; -moz-transition: opacity 0.4s ease; -ms-transition: opacity 0.4s ease; -o-transition: opacity 0.4s ease; transition: opacity 0.4s ease; }
.mobile-icon:before, .mobile-icon:after { -webkit-transition: top 0.4s ease, bottom 0.4s ease, left 0.4s ease, -webkit-transform 0.4s ease; -moz-transition: top 0.4s ease, bottom 0.4s ease, left 0.4s ease, -moz-transform 0.4s ease; -ms-transition: top 0.4s ease, bottom 0.4s ease, left 0.4s ease, -ms-transform 0.4s ease; -o-transition: top 0.4s ease, bottom 0.4s ease, left 0.4s ease, -o-transform 0.4s ease; transition: top 0.4s ease, bottom 0.4s ease, left 0.4s ease, transform 0.4s ease; }
.mobile-icon { -webkit-transition: -webkit-transform 0.4s ease; -moz-transition: -moz-transform 0.4s ease; -ms-transition: -ms-transform 0.4s ease; -o-transition: -o-transform 0.4s ease; transition: transform 0.4s ease; }
#header { -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -ms-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease; }

/* DEFAULTS */
.alignleft { float: left; margin-right: 10px; }
.alignright { float: right; margin-left: 10px; }
html.noscroll { overflow: hidden; }
section { position: relative; }
.vinny-line, .vinnycolor, .vinnyflow { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; }
.wrapper { max-width: 1260px; box-sizing: border-box; padding: 0 20px; position: relative; margin: 0 auto; z-index: 50; width: 100%; }
.wrapper.slim { max-width: 940px; }
body, input { font-family: 'Graphik', helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #3c3c3b; letter-spacing: 0.002em; }
body { overflow: hidden; max-width: 100vw; }
p { margin-bottom: 28px; }

/* BUTTONS */
.btn { position: relative; font-size: 14px; line-height: 20px; font-weight: 400;  text-transform: uppercase; cursor: pointer; z-index: 10; }
.btn.btn-block { color: #f6f6f6; padding: 10px 0; width: 168px ; display: inline-block; text-align: center; }
.btn.btn-block:hover { color: #5cff00; }
.btn.btn-plain { color: #000000; }
.btn.btn-plain.btn-green { color: #5cff00; }
.btn.btn-plain.btn-green svg * { stroke: #5cff00; }
.btn.btn-plain:hover { color: #5cff00; }
.btn.btn-plain:hover svg * { stroke: #5cff00; }
.btn.btn-plain:hover svg { left: 4px; }
.btn.btn-plain.btn-back:hover svg { right: 4px; left: auto; }
.btn.btn-plain.btn-green:hover { color: #ffffff; }
.btn.btn-plain.btn-green:hover svg * { stroke: #ffffff; }
.btn + .btn { margin-left: 10px; }
.btn svg { display: inline-block; vertical-align: middle; margin-left: 8px; padding-bottom: 3px; position: relative; left: 0; }
.btn.btn-back svg { margin-right: 8px; margin-left: 0; position: relative; right: 0; left: auto; }
.btn.btn-block span { position: absolute; top: 1px; left: 1px; right: 1px; bottom: 1px; background: rgba(255,255,255,0.25); z-index: -1; overflow: hidden; }
button.btn.btn-block span { top: 0; bottom: 0; left: 0; right: 0; }
button.btn.btn-block span:after { background: #575756; }
.btn.btn-block span:before { content: ''; position: absolute; z-index: -1;}
.btn.btn-block span:after { content: ''; position: absolute;}
.btn.btn-block span:before { top: -1px; bottom: -1px; background: #5cff00; left: 0; width: 212px; -webkit-transform: skewX(-45deg) translateX(-212px); -moz-transform: skewX(-45deg) translateX(-212px); -ms-transform: skewX(-45deg) translateX(-212px); -o-transform: skewX(-45deg) translateX(-212px); transform: skewX(-45deg) translateX(-212px); -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; transform-origin: 0 0;}
.btn.btn-block:hover span:before { -webkit-transform: skewX(-45deg) translateX(0); -moz-transform: skewX(-45deg) translateX(0); -ms-transform: skewX(-45deg) translateX(0); -o-transform: skewX(-45deg) translateX(0); transform: skewX(-45deg) translateX(0);}
.btn.btn-block span:after { top: 1px; left: 1px; right: 1px; bottom: 1px; background: #242422; -webkit-transform: rotateX(0.01deg) translateZ(10px); -moz-transform: rotateX(0.01deg) translateZ(10px); -ms-transform: rotateX(0.01deg) translateZ(10px); -o-transform: rotateX(0.01deg) translateZ(10px); transform: rotateX(0.01deg) translateZ(10px); }
@media only screen and (max-width: 480px) {
    .btn.btn-block { display: block; margin: 0 auto 5px; }
    .btn.btn-block + .btn.btn-block { margin-left: auto; }
}

/* BACKGROUNDS */
.ri-bg { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 10; }
.ri-bg:after, .ri-bg:before { content: ''; position: absolute; }
.ri-bg:before { top: 0; bottom: 0; left: 0; right: 0; max-width: 1312px; margin: 0 auto; width: 100%; }
.bg-dark:before, .bg-dark:after { background: #242422; }
.bg-left:after { top: 0; bottom: 0; left: 0; right: 50%; }
.bg-right:after { top: 0; bottom: 0; right: 0; left: 50%; }
.bg-left:before { right: 20px; }
.bg-right:before { left: 20px; }


.bg-diag-right:before { display: none; }
.bg-diag-right:after { background: #3c3c3b; top: 0; bottom: 0; right: 0; left: calc((100vw - 1260px) / 2 + 50px); -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -o-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: skewX(-45deg); -moz-transform: skewX(-45deg); -ms-transform: skewX(-45deg); -o-transform: skewX(-45deg); transform: skewX(-45deg); }
.bg-diag-right.how-it-works.bg-diag-overflow:after { left: calc((100vw - 1260px) / 2 + 150px); }
.bg-diag-right.bg-diag-overflow:after { top: -5000%; }

.ri-bg.bg-diag-post { right: 25%; overflow: hidden; background: #242422; }
.bg-diag-post.bg-diag-right:after { right: auto; left: 25%; }
@media only screen and (max-width: 950px) {
    .ri-bg.bg-diag-post { right: 0; }
}


.bg-diag-left:before { display: none; }
.bg-diag-left .diag-left { position: absolute; background: #242422; top: 0; bottom: 0; right: 0; left: auto; width: calc(((100vw - 1260px) / 2 ) + (1260px - 540px)); -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: skewX(45deg); -moz-transform: skewX(45deg); -ms-transform: skewX(45deg); -o-transform: skewX(45deg); transform: skewX(45deg); }

.bg-diag-left-inv:before { background: #5cff00; max-width: none; left: 0; right: 50% }
.bg-diag-left-inv:after { background: #ffffff; top: 0; bottom: 0; right: 0; left: auto; width: calc(((100vw - 1260px) / 2 ) + (1260px - 50px)); -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: skewX(-45deg); -moz-transform: skewX(-45deg); -ms-transform: skewX(-45deg); -o-transform: skewX(-45deg); transform: skewX(-45deg); }

@media only screen and (max-width: 1100px) {
    .bg-diag-left:after, .bg-diag-left:before { display: none; }
}

@media only screen and (max-width: 550px) {
    .bg-left:before { right: 0; }
    .bg-right:before { left: 0; }
}

/* UNDERLAYS */
.ri-underlay { position: absolute; top: 0; bottom: 52px; left: 0; right: 0; z-index: 5; }
.ri-underlay:after { content: ''; position: absolute; }
.underlay-right .underlay-top { position: absolute; top: -52px; right: 0; border-bottom: 52px solid #5cff00; border-left: 52px solid transparent; width: calc(((100vw - 1260px) / 2) - 52px + 308px); }
.underlay-left .underlay-top { position: absolute; top: -52px; left: 0; border-bottom: 52px solid #5cff00; border-right: 52px solid transparent; width: calc(((100vw - 1260px) / 2) - 52px + 22px); }
.ri-underlay:after { background: #5cff00; }
.underlay-left:after { position: absolute; top: 0; bottom: 0; left: 0; right: 50%; }
.underlay-right:after { position: absolute; top: 0; bottom: 0; right: 0; left: 50%; }
@media only screen and (max-width: 1400px) {
    .underlay-left .underlay-top { width: 80px; }
}
@media only screen and (max-width: 1250px) {
    .ri-underlay { bottom: 20px; }
    .underlay-right .underlay-top { top: -20px; border-bottom: 20px solid #5cff00; border-left: 20px solid transparent; width: calc(((100vw - 1260px) / 2) - 20px + 308px); }
    .underlay-left .underlay-top { top: -20px; border-bottom: 20px solid #5cff00; border-right: 20px solid transparent; }
}
@media only screen and (max-width: 550px) {
    .ri-underlay { display: none; }
}

/* HEADER */
#header { position: absolute; left: 0; right: 0; top: 52px; z-index: 200; }
#header .logo { padding: 24px 0; float: left; }
#header .logo .mobile { display: none; }
#header .logo a { display: block; }
#header .main-nav { position: absolute; top: 0; bottom: 0; right: 37px; margin: auto 0; height: 26px; }
#header .main-nav li { float: left; position: relative; }
#header .main-nav a { font-size: 16px; line-height: 26px; color: #f6f6f6; padding: 0 15px; position: relative; font-weight: 400; text-shadow: 1px -1px 0 #242422, -1px 1px 0 #242422; }
#header .main-nav a:after { content: ''; position: absolute; height: 1px; left: 50%; right: 50%; bottom: 0; background: #5cff00; }
#header .main-nav li:hover > a:after { left: 15px; right: 15px; }
.noscroll #header { opacity: 0; pointer-events: none; }

@media only screen and (max-width: 1250px) {
    #header { top: 20px; }
}
@media only screen and (max-width: 767px) {
    #header .main-nav { display: none; }
    #header .logo { padding: 20px 0; }
}
@media only screen and (max-width: 550px) {
    #header { position: fixed; top: 0; background: #ffffff; z-index: 500; box-shadow: 0 0 1px rgba(0,0,0,0.2); opacity: 1; }
    #header .logo { width: 20px; padding: 15px 0;}
    #header .logo .desktop { display: none; }
    #header .logo .mobile { display: block; }
}

/* SUB MENU */
#header .main-nav ul > li > ul { position: absolute; }
#header .main-nav ul > li > ul > li { max-height: 0; overflow: hidden; opacity: 0; }
#header .main-nav ul > li:hover > ul > li { max-height: 26px; opacity: 1; }

/* MOBILE ICON */
.mobile-nav { display: none; position: absolute; top: 0; bottom: 0; right: 36px; margin: auto 0; height: 40px; width: 40px; }
.mobile-nav a { position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
.mobile-icon { width: 32px; height: 2px; background: #ffffff; display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.mobile-icon:before, .mobile-icon:after { content: ''; position: absolute; left: 0; right: 0; height: 2px; background: #ffffff; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
.mobile-icon:before { top: -8px; -webkit-transform-origin: 100% 100%; -moz-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; -o-transform-origin: 100% 100%; transform-origin: 100% 100%; }
.mobile-icon:after { bottom: -8px; -webkit-transform-origin: 100% 0; -moz-transform-origin: 100% 0; -ms-transform-origin: 100% 0; -o-transform-origin: 100% 0; transform-origin: 100% 0;}
@media only screen and (max-width: 767px) {
    .mobile-nav { display: inline-block; }
}
@media only screen and (max-width: 550px) {
    .mobile-icon:before, .mobile-icon:after, .mobile-icon { background: #242422; }
    .mobile-nav { right: 16px; }
}

/* MOBILE ICON ANIM */
.mm-opening .mobile-icon { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);}
.mm-opening .mobile-icon:before { top: 0; left: 50%; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.mm-opening .mobile-icon:after { bottom: 0; left: 50%; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

/* MAIN BANNER */
#main-banner { margin-top: 52px; padding: 220px 0 75px; z-index: 100; }
#main-banner .main-title { text-align: center; margin-right: 100px; margin-bottom: 50px; }
#main-banner h1 { font-size: 80px; line-height: 72px; letter-spacing: 0.01em; text-transform: uppercase; font-weight: 100; display: inline-block; position: relative; text-shadow: 1px -1px 0 #242422, -1px 1px 0 #242422; }
#main-banner h1 .line-1 { color: #f6f6f6; font-size: 22px; line-height: 27px; position: absolute; top: -27px; right: 23%; }
#main-banner h1 .line-2 { color: #f6f6f6; display: block; }
#main-banner h1 .line-3 { color: #5cff00; font-size: 22px; line-height: 27px; position: absolute; top: 1px; right: 100%; white-space: nowrap; }
#main-banner h1 .line-4 { color: #5cff00; display: inline-block; position: relative; margin-right: 50px; }
#main-banner.alt-news h1 .line-4 { margin-left: 120px; margin-right: 0; }
#main-banner h1 .line-5 { color: #5cff00; font-size: 22px; line-height: 27px; position: absolute; top: 1px; left: 100%; }

#main-banner.alt-title h1 { font-size: 40px; line-height: 48px; letter-spacing: 0.01em; text-transform: uppercase; top: -12px; font-weight: 100; display: block; max-width: 700px; margin: 0 auto; color: #ffffff; }
#main-banner.alt-title h1 strong { font-weight: 100; color: #5cff00; }
#main-banner.alt-title .banner-content { margin-top: 58px; }

#main-banner.alt-news { padding-bottom: 35px; }
#main-banner.alt-news .banner-content { margin-top: 80px; width: 70%; }

#main-banner .banner-content { width: 50%; float: right; color: #f6f6f6; }
#main-banner .banner-content a:not(.btn) { color: #5cff00; display: inline; }
#main-banner .banner-content a:not(.btn):hover { color: #ffffff; }
#main-banner .banner-content svg { display: inline-block; vertical-align: middle; margin-left: 5px; padding-bottom: 2px; position: relative; left: 0; }
#main-banner .banner-content svg * { stroke: #5cff00; }
#main-banner .banner-content a:not(.btn):hover svg { left: 4px;}
#main-banner .banner-content a:not(.btn):hover svg * { stroke: #ffffff; }
@media only screen and (max-width: 1250px) {
    #main-banner { margin-top: 20px; }
}
@media only screen and (max-width: 1050px) {
    #main-banner .main-title { margin-right: 0; padding-right: 20px; box-sizing: border-box; }
    #main-banner .banner-content { float: none; margin: 0 auto; text-align: center; width: 100%; max-width: 450px; padding-right: 20px; padding-left: 20px; box-sizing: border-box; }
    #main-banner { padding: 180px 0 75px; }
    #main-banner h1 .line-4 { margin-right: 0; }
    #main-banner.alt-news h1 .line-4 { margin-left: 0; margin-right: 0; }
    #main-banner.alt-news .banner-content { max-width: none; width: 100%;}
}
@media only screen and (max-width: 950px) {
    #main-banner { padding: 150px 0 75px; }
    #main-banner h1 { font-size: 60px; line-height: 50px; }
    #main-banner h1 .line-3, #main-banner h1 .line-5 { top: -1px; }
}
@media only screen and (max-width: 767px) {
    #main-banner { padding: 110px 0 75px; }
    #main-banner.alt-title h1 { font-size: 32px; line-height: 35px; max-width: 600px; }
    #main-banner.alt-title .banner-content { margin-top: 30px; }
    #main-banner.alt-news .banner-content { margin-top: 65px; }
}
@media only screen and (max-width: 650px) {
    #main-banner { padding: 100px 0 60px; }
    #main-banner h1 { font-size: 50px; line-height: 45px; }
    #main-banner h1 .line-1 { font-size: 20px; line-height: 24px; top: -24px; right: 15%; }
    #main-banner h1 .line-3 { font-size: 20px; line-height: 24px; top: -1px; right: 100%; }
    #main-banner h1 .line-5 { font-size: 20px; line-height: 24px; top: -1px; }
    #main-banner.alt-title h1 { font-size: 28px; line-height: 32px; max-width: 600px; }
    #main-banner.alt-title .main-title { margin-bottom: 30px; }
    #main-banner.alt-news .banner-content .btn { margin-bottom: 5px; }
    #main-banner.alt-news h1 .line-4 { left: 70px; }
}
@media only screen and (max-width: 550px) {
    #main-banner { margin-top: 59px; padding: 80px 0 75px; }
    #main-banner .main-title { padding-right: 0;  }
    #main-banner .banner-content { padding-right: 0; padding-left: 0; }
    #main-banner.alt-title h1 { font-size: 20px; line-height: 28px; }
    #main-banner.alt-title .main-title { max-width: 400px; margin: 0 auto; }
    #main-banner.alt-title .banner-content { margin-top: 20px; }
    #main-banner.alt-news .banner-content { margin-top: 50px; }
}
@media only screen and (max-width: 480px) {
    #main-banner { padding: 60px 0 35px; }
    #main-banner h1 { font-size: 40px; line-height: 40px; }
    #main-banner h1 .line-1 { font-size: 18px; line-height: 24px; }
    #main-banner h1 .line-3, #main-banner h1 .line-5 { font-size: 18px; line-height: 24px; top: 0px; }
    #main-banner .main-title { margin-bottom: 30px; }
    #main-banner.alt-news .banner-content { margin-top: 35px; }
}
@media only screen and (max-width: 380px) {
    #main-banner h1 { font-size: 36px; line-height: 40px; }
    #main-banner h1 .line-3, #main-banner h1 .line-5 { top: 1px; }
}

/* MAIN CONTENT */
.main-content { padding: 85px 0 80px; }
.main-content .info-left .button { max-width: 280px; }
.main-content.how-it-works { z-index: 50; }
.main-content.how-it-works.bg-overflow { z-index: 20; }
.main-content.main-content-drk.how-it-works { background: #343333; }
.main-content.main-content-drk:not(.how-it-works) { padding: 230px 0 140px; }
section.main-content.main-content-right { padding-left: 20px;}
section.main-content.main-content-left { padding-right: 20px;}
.main-content.main-content-drk.main-content-diag { background: #1d1d1b; padding: 150px 0 95px; overflow: hidden; }
.main-content h2 { color: #141414; font-size: 40px; line-height: 48px; text-transform: uppercase; font-weight: 100; max-width: 280px; margin-bottom: 25px; letter-spacing: 0.01em; }
.main-content .info-left p { max-width: 325px; }
.main-content.main-content-drk h2 { color: #f6f6f6; }
.main-content.main-content-drk p, .main-content.main-content-drk li { color: #ffffff; }
.main-content h2.no-stagger { float: left; }
.main-content h2 + img { margin-top: 20px; padding-bottom: 20px; max-width: 50%; }
.main-content .bottom-align h2 { padding-bottom: 150px; }
.main-content .bottom-align h2 + img { margin-top: 0; padding-bottom: 0; max-width: 50%; position: absolute; bottom: 0; }
.main-content .content { width: 50%; float: right; }
@media only screen and (min-width: 1700px) {
    .main-content.how-it-works .bg-diag-left-inv { display: none; }
}
@media only screen and (max-width: 1150px) {
    .main-content.how-it-works .bg-diag-left-inv { display: none; }
}
@media only screen and (max-width: 1050px) {
    .main-content.main-content-drk:not(.how-it-works) { padding: 175px 0 80px; }
    .main-content { text-align: center; }
    .main-content.main-content-drk.main-content-diag { padding: 85px 0 80px; }
    .main-content.main-content-diag .info-left .cms-content { float: none; width: auto; }
    .main-content .bottom-align h2 + img { left: 0; right: calc(100% - 320px); margin: 0 auto; }
}
@media only screen and (max-width: 767px) {
    .main-content, .main-content.main-content-drk.main-content-diag { padding: 50px 0 45px; }
    .main-content.main-content-drk:not(.how-it-works) { padding: 90px 0 45px; }
    .main-content h2 { font-size: 32px; line-height: 35px; }
    .main-content .bottom-align h2 { padding-bottom: 0; }
    .main-content .bottom-align h2 + img { margin-top: 20px; padding-bottom: 20px; position: relative; right: 0; }
    .main-content .content, .main-content h2 { max-width: 450px; margin: 0 auto; width: 100%; float: none; }
    .main-content.main-content-diag .content, .main-content h2 { margin-bottom: 20px; }
    .main-content .info-left p, .main-content .info-left .button { max-width: none; }
    .main-content.main-content-diag .info-left { margin-bottom: 40px; }
}
@media only screen and (max-width: 550px) {
    .main-content h2 { font-size: 20px; line-height: 28px; }
    section.main-content.main-content-right { padding-left: 0; }
    section.main-content.main-content-left { padding-right: 0; }
}

/* CMS CONTENT */
.cms-content .space { width: 6px; display: inline-block; }
.cms-content h3, .cms-content h2, .cms-content h1 { font-size: 16px; line-height: 30px; text-transform: uppercase; margin-bottom: 28px; font-weight: 400; }
.cms-content h5, .cms-content h4, .cms-content h6 { font-size: 13px; line-height: 16px; font-weight: 700; text-transform: uppercase; color: #202020; margin-bottom: 28px; }
.cms-content h3 span, .cms-content h2 span, .cms-content h1 span { background: #5cff00; padding: 3px 10px; }
.cms-content h3 span.ri-br, .cms-content h2 span.ri-br, .cms-content h1 span.ri-br { padding: 3px 5px; }
.cms-content h3 span a, .cms-content h2 span a, .cms-content h1 span a { color: #3c3c3b; }
.cms-content h3 span a:hover, .cms-content h2 span a:hover, .cms-content h1 span a:hover { color: #ffffff; }
.cms-content p + h3, .cms-content ul + h3, .cms-content p + h2, .cms-content ul + h2, .cms-content p + h1, .cms-content ul + h1 { margin-top: 56px; }
.cms-content ul:not(.social) { margin-bottom: 28px; padding-left: 12px; }
.cms-content a { color: #3c3c3b; position: relative; }
.cms-content a:after { height: 2px; left: 0; right: 0; bottom: -1px; position: absolute; content: ''; background: #5cff00; }
.cms-content :not(.social) li { margin-bottom: 10px; position: relative; }
.cms-content :not(.social) li:before { content: '-'; position: relative; left: -12px; }
.cms-content > :last-child { margin-bottom: 0; }
.cms-content + .btn, .cms-content + .button { margin-top: 28px;}
.cms-content pre { text-align: right; margin-bottom: 28px;}
@media only screen and (max-width: 1050px) {
    .cms-content li:before { position: relative; left: -12px; width: 0; display: inline-block; }
    .cms-content ul.social { display: inline-block; }
}

/* CMS FORM */
.cms-content input, .cms-content textarea { border: 1px solid #3c3c3b; }
.cms-content label { color: #3c3c3b; }
.cms-content form { max-width: 500px; }

/* INFO COLS */
.info-col { width: 50%; float: left; }
.info-col.info-stagger { width: 100%; }
@media only screen and (max-width: 1050px) {
    .info-col.info-stagger { width: 50%; }
    .info-col.info-left .cms-content { max-width: 280px; }
}
@media only screen and (max-width: 767px) {
    .info-col.info-stagger, .info-col { width: 100%;}
    .info-col.info-left { margin-bottom: 20px; }
    .info-col.info-left .cms-content { max-width: 450px; margin: 0 auto; }
}

/* INFO SLIDER */
#info-slider { margin-top: -52px; background: #343333; z-index: 5; padding: 200px 0 165px; overflow: hidden; }
#info-slider .info-left p { color: #ffffff; max-width: 280px; }
#info-slider .info-left .button { max-width: 280px; }
#info-slider .info-right h4 { font-size: 40px; line-height: 45px; color: #5cff00; font-weight: 100; text-transform: uppercase; margin-bottom: 15px; }
#info-slider .info-right h5 { font-size: 31px; line-height: 35px; color: #5cff00; font-weight: 300; text-transform: uppercase; max-width: 300px; margin: 20px 0 28px; }
#info-slider .info-right h4 span, #info-slider .info-right h5 span { color: #f6f6f6; font-size: 14px; line-height: 22px; font-weight: 400; display: block; }
#info-slider .info-sep { height: 72px; width: 1px; background: #ffffff; -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -o-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: skewX(-45deg); -moz-transform: skewX(-45deg); -ms-transform: skewX(-45deg); -o-transform: skewX(-45deg); transform: skewX(-45deg); }
#info-slider .info-right p { color: #ffffff; }
@media only screen and (max-width: 1050px) {
    #info-slider { padding: 137px 0 80px; text-align: center; }
    #info-slider .info-left p, #info-slider .info-sep, #info-slider .info-right h5 { margin-left: auto; margin-right: auto; }
    #info-slider .info-right h4 { font-size: 35px; line-height: 40px; }
    #info-slider .info-sep { position: relative; right: 36px; }
}
@media only screen and (max-width: 900px) {
    #info-slider .info-right h4 { font-size: 31px; line-height: 35px; }
}
@media only screen and (max-width: 767px) {
    #info-slider { padding: 70px 0 45px; margin-top: -20px; }
    #info-slider .info-left { margin-bottom: 45px; }
    #info-slider .info-left p, #info-slider .info-left .button { max-width: none; }
    #info-slider .info-slides { max-width: 450px; margin: 0 auto; }
}
@media only screen and (max-width: 767px) {
    #info-slider { padding: 70px 0 30px; }
}

/* INFO SLIDER ANIMS */
#info-slider .info-slide h4, #info-slider .info-slide h5, #info-slider .info-slide p { opacity: 0; -webkit-transform: translateX(100px); -moz-transform: translateX(100px); -ms-transform: translateX(100px); -o-transform: translateX(100px); transform: translateX(100px);}
#info-slider .info-slide.slide-anim h4, #info-slider .info-slide.slide-anim h5, #info-slider .info-slide.slide-anim p { opacity: 1; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -ms-transform: translateX(0px); -o-transform: translateX(0px); transform: translateX(0px);}

#info-slider .info-slide .info-sep { opacity: 0; -webkit-transform: skewX(-45deg) translateX(100px); -moz-transform: skewX(-45deg) translateX(100px); -ms-transform: skewX(-45deg) translateX(100px); -o-transform: skewX(-45deg) translateX(100px); transform: skewX(-45deg) translateX(100px);}
#info-slider .info-slide.slide-anim .info-sep { opacity: 1; -webkit-transform: skewX(-45deg) translateX(0px); -moz-transform: skewX(-45deg) translateX(0px); -ms-transform: skewX(-45deg) translateX(0px); -o-transform: skewX(-45deg) translateX(0px); transform: skewX(-45deg) translateX(0px);}

/* INFO SLIDER NAV */
#info-slider .info-slide-nav { max-width: 1260px; pointer-events: none; box-sizing: border-box; padding: 0 20px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: 0 auto; z-index: 50; }
#info-slider .slide-nav { position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
#info-slider .slide-dot { width: 20px; height: 20px; position: relative; cursor: pointer; pointer-events: auto; }
#info-slider .slide-dot:after { content: ''; position: absolute; height: 4px; width: 4px; top: 0; left: 0; right: 0; bottom: 0; margin: auto; border-radius: 50%; background: #ffffff; }
#info-slider .slide-dot.active:after { width: 6px; height: 6px; background: #5cff00; }
@media only screen and (max-width: 1300px) {
    #info-slider .info-slide-nav { right: 20px; }
}
@media only screen and (max-width: 767px) {
    #info-slider .info-slide-nav { position: relative; }
    #info-slider .slide-nav { position: relative; top: 0; display: inline-block; margin: 30px auto 0; }
    #info-slider .slide-dot { float: left; }
}
@media only screen and (max-width: 550px) {
    #info-slider .slide-nav { margin: 20px auto 0; }
}

/* INFO BLOCKS */
#info-blocks { padding: 75px 0 45px; }
#info-blocks h2 { color: #141414; font-size: 40px; line-height: 48px; text-transform: uppercase; font-weight: 100; max-width: 280px; margin-bottom: 25px; letter-spacing: 0.01em; }
#info-blocks h4 { max-width: 150px; }
#info-blocks .info-left { position: absolute; top: 30px; left: 20px; }
#info-blocks .info-left p { max-width: 325px; }
#info-blocks .info-right { float: right; }
#info-blocks .info-block { width: 50%; float: left; box-sizing: border-box; padding-right: 50px; margin-bottom: 20px; }
#info-blocks .info-block:nth-of-type(2n-1) { clear: both; }
#info-blocks .info-block .info-block-icon { height: 120px; position: relative; margin-bottom: 20px; }
#info-blocks .info-block .info-block-icon img { position: absolute; top: 0; bottom: 0; margin: auto 0; }
@media only screen and (max-width: 1050px) {
    #info-blocks .info-block { width: 100%; margin-bottom: 30px; }
    #info-blocks .info-block .info-block-icon { margin-bottom: 0; margin-right: 10px; width: 35px; height: 35px; display: inline-block; vertical-align: middle; }
    #info-blocks .info-block .cms-content { display: inline; }
    #info-blocks .info-block .cms-content h5 { display: inline-block; margin-bottom: 0; vertical-align: middle; max-width: none; }
    #info-blocks .info-block p { margin-top: 20px; }
    #info-blocks .info-left { top: 0; }
}
@media only screen and (max-width: 767px) {
    #info-blocks { padding: 40px 0 45px; text-align: center; }
    #info-blocks .info-left { position: relative; left: 0; }
    #info-blocks .info-left p { max-width: 450px; }
    #info-blocks .info-block { padding: 0; }
    #info-blocks .info-left p, #info-blocks .info-left h2 { margin-left: auto; margin-right: auto; }
    #info-blocks .info-block .info-block-icon { text-align: left; }
    #info-blocks .info-block p { max-width: 450px; margin-left: auto; margin-right: auto; }
    #info-blocks h2 { font-size: 32px; line-height: 35px; }
}
@media only screen and (max-width: 550px) {
    #info-blocks .info-block:last-of-type { margin-bottom: 0; }
    #info-blocks .vinny-line { display: none; }
    #info-blocks h2 { font-size: 20px; line-height: 28px; }
}
@media only screen and (max-width: 480px) {
    #info-blocks .info-block .cms-content { display: block; }
    #info-blocks .info-block .info-block-icon { margin-bottom: 15px; text-align: center; margin-right: 0; }
    #info-blocks .info-block p { margin-top: 15px; }
    #info-blocks .info-block { margin-bottom: 40px; }
    #info-blocks .info-block .info-block-icon img { position: relative; }
}

/* LOGOS */
#case-studies.main-content-right + #logos, #main-banner + #logos { margin-top: -52px; padding-top: calc(60px + 52px); }
#logos { background: #343333; padding: 60px 0 30px; }
.logos { text-align: justify; position: relative; text-justify: distribute; font-size: 0; margin: 0 -10px; }
.logos:after { content: ''; width: 100%; display: inline-block; }
.logos img { display: inline-block; vertical-align: middle; padding: 0 10px; box-sizing: border-box; }
@media only screen and (max-width: 1250px) {
    #case-studies + #logos { margin-top: -20px; padding-top: calc(40px + 20px); }
    #logos .logos img { height: 75px; width: auto; }
}
@media only screen and (max-width: 1050px) {
    #logos .logos img { height: 65px; }
    #home-logos .logos { text-align: center; }
    #home-logos .logos:after { display: none; }
    #home-logos .logos img { margin: 0 4% 0; width: auto; max-width: 100%; height: 90px; }
}
@media only screen and (max-width: 850px) {
    #logos .logos img { height: 55px; }
}
@media only screen and (max-width: 767px) {
    #case-studies + #logos, #main-banner + #logos { margin-top: -20px; padding-top: calc(30px + 20px); }
    #logos { padding: 30px 0 20px; }
    .logos { text-align: center; }
    .logos:after { display: none; }
    .logos img, #logos .logos img { margin: 0 8% 20px; width: auto; max-width: 100%; }
    #home-logos .logos img { margin: 0 3% 0; height: 70px; }
}
@media only screen and (max-width: 550px) {
    #case-studies + #logos, #main-banner + #logos { margin-top: 0; padding-top: 30px; }
    #home-logos .logos img { margin: 0 2% 0; height: 60px; }
    .logos img, #logos .logos img { margin: 0 2% 20px; }
}
@media only screen and (max-width: 480px) {
    .logos img, #logos .logos img { height: 45px; }
    #home-logos .logos img { margin: 0 0.2% 0; height: 50px; }
}
@media only screen and (max-width: 400px) {
    #logos .logos img { height: 40px; }
    .logos img { height: 45px; }
}

/* FOOTER */
#footer { padding: 72px 0 50px; }
#footer .footer-logo { float: left; margin-right: 50px; }
#footer .footer-info { float: left; margin-top: 25px; }
#footer .footer-info p { margin-bottom: 0; font-size: 12px; line-height: 14px; color: #202020; }
#footer .footer-nav { float: right; margin-right: -8px; text-align: right; }
#footer .footer-nav li { float: left; }
#footer .footer-nav ul:not(.social) { display: inline-block; }
#footer .footer-nav ul:not(.social) li a { font-size: 12px; line-height: 14px; color: #202020; padding: 4px 8px; }
#footer .social li { float: none; display: inline-block; }
@media only screen and (max-width: 1050px) {
    #footer { padding: 40px 0 20px; }
}
@media only screen and (max-width: 950px) {
    #footer { padding: 20px 0; }
    #footer .footer-logo { width: 150px; margin-right: 50px; }
    #footer .footer-info { width: 100%; }
    #footer .footer-nav { position: absolute; right: 12px; margin-right: 0; bottom: 0; }
}
@media only screen and (max-width: 767px) {
    #footer { padding: 30px 0 20px; }
    #footer { text-align: center; }
    #footer .footer-logo { float: none; margin: 0 auto; }
    #footer .footer-info { float: none; margin-bottom: 20px; }
    #footer .footer-nav ul.social { margin-bottom: 20px; }
    #footer .footer-nav ul.social li { float: none; display: inline-block; }
    #footer .footer-nav { position: relative; float: none; right: 0; text-align: center; }
    #footer .footer-nav ul { display: block; margin: 0 auto; }

}

/* CHALLENGE US */
#challenge-us { position: fixed; background: rgba(0,0,0,0.8); top: 0; bottom: 0; left: 0; right: 0; z-index: -50; opacity: 0; }
#challenge-us .challenge { background: #575756; position: absolute; width: 520px; top: calc(15px + 50%); left: 0; right: 0; margin: 0 auto; padding: 40px; box-sizing: border-box; max-width: 100%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
#challenge-us h3 { font-size: 22px; line-height: 38px; text-transform: uppercase; margin-bottom: 28px; font-weight: 400; max-width: 300px; }
#challenge-us form p { margin-bottom: 0; }
#challenge-us h3 span { background: #5cff00; padding: 3px 10px; }
#challenge-us h3 span.ri-br { padding: 3px 5px; }
#challenge-us .close { font-size: 15px; line-height: 14px; font-weight: 400; text-transform: uppercase; color: #ffffff; position: absolute; top: -30px; right: 0; padding: 8px 10px; background: #575756; cursor: pointer; }
#challenge-us .close span { opacity: 0.6; display: block; }
#challenge-us .close:hover span { opacity: 1; }
#challenge-us .close img { margin-left: 10px; }
#challenge-us p { color: #ffffff; }
#challenge-us.open { z-index: 200; opacity: 1; }

#challenge-us.scroll .challenge { position: relative; top: 0; margin: 20px auto; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
#challenge-us.scroll .close { top: 4px; right: 4px; }
#challenge-us.scroll { overflow-y: scroll; }

@media only screen and (max-width: 650px) {
    #challenge-us .close span { opacity: 1; }
}
@media only screen and (max-width: 480px) {
    #challenge-us { text-align: center; }
    #challenge-us h3 { margin: 0 auto 28px; }
}


/* FORM STYLES */
label { font-size: 14px; line-height: 20px; text-transform: uppercase; color: #ffffff; margin-bottom: 7px; display: inline-block; display: block; }
input { border: 0; width: 100%; height: 46px; font-size: 14px; line-height: 20px; padding: 0 10px; box-sizing: border-box; }
textarea { border: 0; width: 100%; height: 250px; font-size: 14px; line-height: 20px; padding: 8px 10px; box-sizing: border-box; }
button { border: none; margin-left: -10px; margin-top: 30px; }

/* CF7 */
.wpcf7-response-output.wpcf7-validation-errors { background: #ffeeee; border: none; border-left: 4px solid #dd0000; margin: 0 -10px 28px; padding: 13px 10px; font-size: 14px; line-height: 20px; color: #000000; font-weight: 500; }
.wpcf7-response-output.wpcf7-mail-sent-ok { background: #eeffee; border: none; border-left: 4px solid #00dd00; margin: 0 -10px 28px; padding: 13px 10px; font-size: 14px; line-height: 20px; color: #000000; font-weight: 500; }
.wpcf7-form-control-wrap { display: block; margin: 0 -10px 17px; }
span.wpcf7-not-valid-tip { color: transparent; position: absolute; top: 0; bottom: 0; left: 0; right: 0; border: 2px solid #dd0000; pointer-events: none; }

/* CASE STUDIES */
#case-studies { padding: 85px 0 60px; }
#case-studies .back { position: absolute; top: -50px; }
#case-studies.main-content-right { padding: 60px 0 85px; }
#case-studies.main-content h2 { max-width: none; padding-right: 50px; box-sizing: border-box; }
#case-studies.main-content h2 strong { font-weight: 100; }
@media only screen and (max-width: 1050px) {
    #case-studies.main-content h2 { padding-left: 25px; padding-right: 25px; }
    #case-studies.main-content .bottom-align h2 + img { right: calc(50% - 25px); }
    #case-studies .back { left: 0; right: 0; }
}
@media only screen and (max-width: 767px) {
    #case-studies, #case-studies.main-content-right { padding: 50px 0 45px; }
    #case-studies .back { position: relative; top: -20px; margin-bottom: 10px; }
    #case-studies.main-content h2 { padding-left: 0; padding-right: 0; }

}

/* NEWS */
#news { margin: 50px 0; }
#news .posts { width: calc(100% + 40px); }
#news .post { width: calc(33.33% - 40px); margin-right: 40px; margin-bottom: 44px; position: relative; }
#news .post h2 { font-size: 16px; line-height: 32px; text-transform: uppercase; font-weight: 400; color: #202020; }
#news .post.blog h2 span { background: #ededed; padding: 5px 10px; }
#news .post.blog h2 span.ri-br { padding: 5px; }
#news .post .categories { font-size: 15px; line-height: 34px; text-transform: uppercase; font-weight: 400; margin-bottom: 0; }
#news .post .categories span { background: #5cff00; margin-right: 2px; padding: 5px 10px; }
#news .post .categories span.ri-br { padding: 5px; }
#news .post.press h2 span { box-shadow: 0 3px 0 #5cff00; padding-bottom: 3px; }
#news .post.press .press-meta { font-size: 16px; line-height: 32px; font-weight: 500; margin-bottom: 28px; margin-top: 5px; }
#news .post.press .press-meta span { box-shadow: 0 3px 0 #5cff00; padding-bottom: 3px; }
#news .post.press img { margin-bottom: 16px; }
#news .post a { position: absolute; top: -20px; left: -20px; bottom: -24px; right: -20px; }
@media only screen and (max-width: 950px) {
    #news { margin: 30px 0; }
    #news .posts { width: calc(100% + 30px); }
    #news .post { width: calc(50% - 30px); margin-right: 30px; margin-bottom: 30px; }
    #news .post a { top: -15px; left: -15px; bottom: -15px; right: -15px; }
    #news .post:before { content: ''; position: absolute; top: -15px; left: -15px; bottom: -15px; right: -15px; border: 1px solid transparent; z-index: -1; }
}
@media only screen and (max-width: 550px) {
    #news .post { width: calc(100% - 30px); }
}

/* NEWS POST HOVER */
.post .border { position: absolute; top: -19px; left: -19px; right: -19px; bottom: -19px; background: #ffffff; z-index: -1; overflow: hidden; }
.post .border:before { content: ''; position: absolute; z-index: -1;}
.post .border:after { content: ''; position: absolute; }
.post .border:before { top: -1px; bottom: -1px; background: #5cff00; left: 0; width: 1000%; -webkit-transform: skewX(-45deg) translateX(-100%); -moz-transform: skewX(-45deg) translateX(-100%); -ms-transform: skewX(-45deg) translateX(-100%); -o-transform: skewX(-45deg) translateX(-100%); transform: skewX(-45deg) translateX(-100%); -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; transform-origin: 0 0;}
.post:hover .border:before { left: 300%;}
.post .border:after { top: 1px; left: 1px; right: 1px; bottom: 1px; background: #ffffff; -webkit-transform: rotateX(0.01deg) translateZ(10px); -moz-transform: rotateX(0.01deg) translateZ(10px); -ms-transform: rotateX(0.01deg) translateZ(10px); -o-transform: rotateX(0.01deg) translateZ(10px); transform: rotateX(0.01deg) translateZ(10px); }

/* PAGINATE */
.paginate { text-align: center; }
.paginate .view-more { font-size: 14px; line-height: 20px; text-transform: uppercase; color: #1d1d1b; padding: 10px 20px; height: 74px; box-sizing: border-box; }
.paginate .view-more svg { margin: 0 auto; position: relative; top: 0; }
.paginate .view-more:hover { color: #5cff00; }
.paginate .view-more:hover svg * { stroke: #5cff00; }
.paginate .view-more:hover svg { top: 4px; }

/* spinner 1 */
@keyframes rotate {
    0% { -webkit-transform: rotateZ(180deg); -moz-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); transform: rotateZ(180deg);}
    100% { -webkit-transform: rotateZ(540deg); -moz-transform: rotateZ(540deg); -ms-transform: rotateZ(540deg); -o-transform: rotateZ(540deg); transform: rotateZ(540deg);}
}

.spinner-cont { display: none; height: 74px; padding-top: 17px; box-sizing: border-box; }
.spinner { width: 20px; height: 20px; background: transparent; border: #5cff00 solid 5px; border-radius: 50%; margin: auto; position: relative; box-sizing: border-box; animation: rotate 3s linear infinite; box-sizing: border-box; }
.spinner:after { content: ' '; position: absolute; width: 40px; height: 40px; border: #fff solid; border-width: 0 0 0 20px; background: transparent; top: -16px; right: -16px; animation: rotate 1.5s ease infinite; box-sizing: border-box; }
.spinner:before { content: ' '; position: absolute; width: 40px; height: 40px; border: #fff solid; border-width: 0 0 0 20px; background: transparent; top: -16px; right: -16px; animation: rotate 1.5s linear infinite; box-sizing: border-box; }

/* POST */
#post { padding: 85px 0 60px; }
#post .back { position: absolute; top: -50px; }
#post .post-header { position: relative; padding: 33px 0; }
#post .post-header h2 { color: #ffffff; font-size: 40px; line-height: 48px; text-transform: uppercase; font-weight: 100; margin-bottom: 25px; letter-spacing: 0.01em; }
#post .post-header-container { display: table; table-layout: fixed; }
#post .post-header-col { display: table-cell; width: 50%; vertical-align: middle; box-sizing: border-box; }
#post .post-header-col:nth-of-type(1) { padding-right: 30px; }
#post .post-header-col:nth-of-type(2) { padding-left: 30px; }
#post .categories { font-size: 15px; line-height: 34px; text-transform: uppercase; font-weight: 400; margin-bottom: 0; float: left; margin-right: 8px; }
#post .categories span { background: #5cff00; padding: 5px 10px; }
#post .categories span.ri-br { padding: 5px; }
#post .post-meta { font-size: 15px; line-height: 34px; text-transform: uppercase; font-weight: 400; margin-bottom: 0; display: inline-block; margin-bottom: 30px; }
#post .post-meta span:not(.space) { background: #ededed; margin-right: 2px; padding: 5px 10px; }
#post .post-meta span:not(.space).ri-br { padding: 5px; }
#post .post-meta .space { margin: 0 5px; }
#post .post-content { margin-top: 40px; }

@media only screen and (max-width: 950px) {
    #post .post-header-col:nth-of-type(1) { padding-right: 15px; width: 60%; }
    #post .post-header-col:nth-of-type(2) { padding-left: 15px; width: 40%; }
}
@media only screen and (max-width: 767px) {
    #post .post-header h2 { font-size: 32px; line-height: 35px; }
}
@media only screen and (max-width: 650px) {
    #post .post-header h2 { font-size: 32px; line-height: 35px; }
}

@media only screen and (max-width: 650px) {
    #post .post-header-container { display: block; }
    #post .post-header-col { display: block; }
    #post .post-header-col:nth-of-type(1n) { padding: 0; width: 100%; }
    #post .post-image { margin-top: 30px; }
    #post .post-meta { width: 100%; }
}

/* SOCIAL */
.social li { float: left; margin-right: 8px; }
.social li a { width: 33px; height: 33px; background: #565655; position: relative; }
.social.footer li a { background: #c6c6c6; }
.social.footer li a svg * { fill: #ffffff; }
.social li a svg { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; }
.social li a:hover { background: #5cff00; }
.social li a:hover svg * { fill: #ffffff; }
.social.footer li a:hover { background: #5cff00; }
@media only screen and (max-width: 767px) {
    .social li:last-child { margin-right: 0; }
}

/* MANIFESTO */
#manifesto { margin: 50px 0; }
@media only screen and (max-width: 767px) {
    #manifesto { margin: 30px 0; text-align: center; }
}

/* TEAM */
#team .member { background: #3c3c3b; margin-bottom: 60px; position: relative; }
#team p, #team a { color: #ffffff; }
#team h4 { font-size: 16px; line-height: 30px; font-weight: 400; text-transform: uppercase; color: #ffffff; }
#team .member-container { display: table; table-layout: fixed; position: relative; }
#team .member-col { display: table-cell; }
#team .member-col.member-img { width: 35%; background: #5cff00; padding: 30px 30px 10px; vertical-align: bottom; box-sizing: border-box; }
#team .member-col.member-img img { display: block; }
#team .member-col.member-content { width: calc(100% - 35%); vertical-align: middle; padding: 30px 0; box-sizing: border-box; position: relative; }

#team .team-left .member-content { padding-left: 90px; }
#team .team-right .member-content { padding-right: 90px; }

#team .team-left .member-img img { margin-right: auto; }
#team .team-right .member-img img { margin-left: auto; }

#team .team-bg { position: absolute; top: 0; bottom: 0; width: 100%; background: #5cff00; }
#team .team-left .team-bg { right: calc(100% - 21px); }
#team .team-right .team-bg { left: calc(100% - 21px); }

#team .arrow { position: absolute; top: 0; bottom: 0; width: 90px; }
#team .arrow svg { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
#team .arrow svg * { stroke: #ffffff; }
#team .team-left .arrow { left: 0; }
#team .team-right .arrow { right: 0; }

/*#team .member:first-of-type .member-container:after { position: absolute; content: ''; top: 0; bottom: 0; width: 100%; left: 100%; background: #ffffff; -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: skewX(45deg); -moz-transform: skewX(45deg); -ms-transform: skewX(45deg); -o-transform: skewX(45deg); transform: skewX(45deg); }*/

@media only screen and (max-width: 1050px) {
    #team .team-left .member-content { padding-left: 50px; }
    #team .team-right .member-content { padding-right: 50px; }
    #team .arrow { position: absolute; top: 0; bottom: 0; width: 50px; }
}
@media only screen and (max-width: 767px) {
    #team { text-align: center; }
    #team .member-container { display: block; }
    #team .member-col { display: block; }
    #team .member-col.member-img { width: 100%; padding: 10px 10px 5px; height: 200px;  }
    #team .member-col.member-img img { height: 100%; width: auto; margin: 0 auto; }
    #team .member-col.member-content { width: 100%; padding: 50px 0;}

    #team .team-bg { height: 200px; }
    #team .team-left .team-bg { right: 0; top: 0; bottom: auto; }
    #team .team-right .team-bg { left: 0; bottom: 0; top: auto; }

    #team .arrow { position: absolute; width: auto; height: 50px; left: 0; right: 0; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
    #team .team-left .arrow { top: 0; bottom: auto; }
    #team .team-right .arrow { bottom: 0; top: auto; }
}

/* MMENU */
#header #mobile-menu { display: none; }
html.mm-front .mm-menu.mm-offcanvas { z-index: 501; }
#mm-blocker { background: #242422; opacity: 0; z-index: -1; display: block; }
html.mm-opening #mm-blocker { opacity: 0.8; }
html.mm-blocking #mm-blocker { z-index: 1; }
.mm-menu { background: #343333; }
.mm-menu .mm-navbar a, .mm-menu .mm-navbar > * { color: #5cff00; text-transform: uppercase; font-weight: 300; }
.mm-listview > li > a, .mm-listview > li > span, .mm-menu em.mm-counter { color: #ffffff; }
.mm-listview > li .mm-next::before, .mm-menu .mm-listview > li .mm-next::after { border-color: #ffffff; }
.mm-listview > li:not(.mm-divider)::after { border-color: transparent; }
.mm-menu .mm-btn::after, .mm-menu .mm-btn::before { border-color: #5cff00; }
.mm-menu.mm-offcanvas { max-width: calc(100% - 70px); }

/* HOME LOGOS */
#home-logos { margin-top: -52px; position: relative; overflow: hidden; }
#home-logos .logos-bg { position: absolute; z-index: -1; background: #3c3c3b; top: 0; bottom: -2px; right: 0; left: 0; max-width: 1260px; width: 100%; margin: 0 auto; -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -o-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: skewX(-45deg); -moz-transform: skewX(-45deg); -ms-transform: skewX(-45deg); -o-transform: skewX(-45deg); transform: skewX(-45deg); }
#home-logos:before { content: ''; position: absolute; background: #3c3c3b; top: 0; bottom: 0; right: 50%; left: 0; }
#home-logos .logos { padding: 82px 0 20px; }
@media only screen and (max-width: 1050px) {
    #home-logos .logos { padding: 62px 0 20px; }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid #5CFF00;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltipimage {
    visibility: hidden;
    width: 250px;
    color: #fff;
    text-align: center;
    bottom: -325%;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltipimage {
    visibility: visible;
    position: absolute; left: -9.9em; z-index: 99;
}
